@media (max-width: 650px) {
    * {
        font-size: 25px;
    }

    .wrapper {
        width: 100%;
        margin: 0;
    }
    .background .today-container .weather-container .info-row-first {
        flex-direction: column;
        align-items: center;
        margin-bottom: 20px;
    }

    .background .today-container .weather-container .info-row-second {
        flex-direction: column;
        align-items: center;
    }
    .background .today-container .weather-container .info-row-first .date-container .time > span {
        font-size: 80px;
    }
    .background .today-container .weather-container .info-row-first .weather-icon-container img {
        height: 140px;
    }

    .background .today-container .weather-container .info-row-first .date-container {
        margin-bottom: 20px;
    }

    .background .today-container .weather-container .info-row-first .temp-container .temperature > span {
        font-size: 80px;
    }
    .background .today-container .weather-container .info-row-second > div {
        margin-bottom: 5px;
    }
    .background .today-container .weather-container .info-row-second .humidity img {
        margin: 0;
    }
    .background .today-container .weather-container .info-row-second .wind-speed img {
        margin: 0;
    }
    .background .today-container .weather-container .info-row-second .humidity img {
        margin: 0;
    }
    .background .search-location-container {
        display: flex;
        flex-direction: column;
    }
    .background .search-location-container .search {
        margin-bottom: 10px;
    }
    .background .search-location-container .search > input {
        width: 100%;
    }
    .background .search-location-container .btn {
        width: 100%;
    }
}